body, html{
	width: 100%;
	height: 100%;
	font-family: "Chakra Petch", sans-serif;
	background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
font-size: 3rem;
color: #9896f1;
}
hr {

    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #9896f1;
    max-width: 65px;
    opacity: 1;  
}
.buffer{
    height: 10rem;
}
.btn{ 
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
 }
 .btn-primary {
    background-color: #edb1f1;
    border-color: #edb1f1;
 }
.btn-primary:hover {
    background-color: #d59bf6;
    border-color: #d59bf6;
    border-width: 4px;
}
.btn-xl { 
    padding: 1rem 2rem;

}
